@{
    ViewData["Title"] = "Logout";
}

<div class="row">
    <div class="col">
        <p>
            Successfully logged out. Return to <a asp-controller="Home" asp-action="Index">Home</a>
        </p>
    </div>
</div>